<!DOCTYPE html>
<html>
<head>
  <title>SourceSpaceEngine</title>
  <%= stylesheet_link_tag    "source_space_engine/application", media: "all" %>
  <%= javascript_include_tag "source_space_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
