body {
    background-color: #000;
}
#game-display {
    width: 100%;
}
#game-display canvas {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
